<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/style.css">
	<title>Test_Version</title>
</head>
<body>
	<div class="container">
		<div class="background-container">
			<div class="title-container">
				<h1>Microscope Mini Online</h1>
			</div>
			<div class="video">
				<img src="{{ url_for('video_feed') }}">
	</div>
</body>
</html>